h1, h4 {
  text-align: center;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 1rem;
}

#textboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

#generateButton {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  padding: 12px 12px 12px 12px;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.5s;
}

#generateButton:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.button-container {
  position: relative;
  height: 2rem;
}

.button-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

